.agent-list-main {
    min-height: 100vh;
}

.agent-list-title {
    display: flex;
    margin: 2em;
    justify-content: space-between;
}

.title {
    text-align: center;
}

.search-agent {
    display: flex;
}

.input-search-agent {
    border-radius: 5px;
    outline: none;
    border: 0;
    padding-inline: .5em;
    font-size: medium;
    background-color: rgb(30, 30, 30);
    color: rgb(230, 230, 230);
}

.agent-list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 150px);
    width: 100%;
    gap: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.agent-list-item {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
    width: 150px;
    text-align: center;
    color: inherit;
    padding: 1em;
    transition: scale 100ms;
    gap: .5em;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .5);
}

.agent-list-item:hover {
    scale: 1.1;
}

.agent-list-item>img {
    width: 100px;
    border-radius: 50%;
    box-shadow: 0 0px 10px rgba(0, 0, 0, .25);
}

.agent-list-item>p {
    color: rgb(230, 230, 230);
}

@media only screen and (max-width: 1024px) {
    .agent-list {
        grid-template-columns: repeat(4, 150px);
    }
}

@media only screen and (max-width: 768px) {
    .agent-list {
        grid-template-columns: repeat(3, 100px);
    }

    .agent-list-item {
        width: 100px;
    }
}