aside {
    background-color: rgb(30, 30, 30);
    color: rgb(230, 230, 230);
    min-height: 100vh;
    /* width: 100px; */
}

nav>ul {
    list-style: none;
}

.nav-item {
    color: rgb(230, 230, 230);
    display: flex;
    padding: 1em;
    align-items: center;
    gap: 1em;
    transition: all 100ms;
}

.nav-item:hover {
    background-color: rgb(25, 25, 25);
}

.img-item {
    width: 2em;
}