<aside>
    <div class="home-item">
        <a routerLink="/" routerLinkActive="active">
            <img src="assets/images/valorant_logo.png" alt="Home" class="img-home">
        </a>
    </div>
    <ul>
        <li>
            <a routerLink="/agents" routerLinkActive="active" class="nav-item">
                <svg-icon name="agent" class="img-item"></svg-icon>
                <p>Agents</p>
            </a>
        </li>
        <li>
            <a routerLink="/maps" routerLinkActive="active" class="nav-item">
                <svg-icon name="map" class="img-item"></svg-icon>
                <p>Maps</p>
            </a>
        </li>
        <li>
            <a routerLink="/weapons" routerLinkActive="active" class="nav-item">
                <svg-icon name="weapon" class="img-item"></svg-icon>
                <p>Weapons</p>
            </a>
        </li>
    </ul>
</aside>
